* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    /* background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(169, 172, 206), rgb(31, 38, 130)); */
    background: #27273d;
    background-repeat: no-repeat;
    /* height: 100vh; */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(16% at 6% 1%);
    z-index: -1;
}

.nav {
    margin: 20px;
}

.logo span {
    color: rgb(202, 221, 221);
}

.logo {
    font-size: 22px;
    margin-top: 2%;
}

.logo #hammer {
    top: 2%;
    position: absolute;
    rotate: -10deg;
    /* -webkit-transform: scaleX(-1); */
    transform: scaleX(-1);
    left: 3%;
    color: rgb(202, 221, 221);
}

.container {
    display: flex;
    /* flex-direction: column; */
}

.text {
    margin: 10% 5%;
}

.text h2 {
    color: rgb(173, 227, 222);
    font-size: 38px;

}

.text img {
    width: 30px;
    margin-top: 3%;
}

.text p {
    margin-top: 2%;
    width: 25%;
    text-align: justify;
    color: whitesmoke;
    font-size: 18px;
}

.text span {
    font-size: 25px;
    font-weight: 600;
    margin-left: 1%;
    margin-top: 3%;
    color: whitesmoke;
}

.shortener_container {
    width: 50%;
    margin-left: 5%;
    margin-top: -8%;
}

.shortener_container #shortener {
    width: 50%;
    height: 40px;
    padding: 2%;
    border-radius: 20px;
    outline: none;
}

#submit_btn {
    position: relative;
    top: 5px;
    width: 16%;
    height: 42px;
    font-size: 23px;
    font-weight: bolder;
    color: rgb(44, 85, 108);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.links_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 11%;
    margin-left: -55%;
    position: relative;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.links_container .link {
    color: aliceblue;
    font-size: 18px;
    margin-top: 1%;
    width: 100%;
    height: 50px;
    padding: 1%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

.long_link {
    line-break: strict;
    text-align: center;
    margin-right: 10px;
}

.short_link {
    width: 20%;
    margin-right: 4%;
    text-align: center;
}

.short_link a {
    text-decoration: none;
    color: whitesmoke;
}

.copy_btn {
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.circle-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    clip-path: circle(10% at 95% 9%);
}

@media screen and (max-width: 737px) {
    body::after {
        clip-path: circle(20% at 10% 3%);
    }
    
    .nav {
        margin: 6% 3%;
    }
    
    .logo span {
        color: rgb(202, 221, 221);
    }
    
    .logo {
        font-size: 18px;
        margin-top: 2%;
    }
    
    .logo #hammer {
        top: 3%;
        left: 6%;
    }
    
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        margin-left: 10%;
    }

    .section{
        width: 100%;
        margin: 5% auto;
    }
    .text {
        margin-top: 15%;
        /* margin-left: 15%; */
    }

    .text h2 {
        color: rgb(173, 227, 222);
        font-size: 38px;
    }
    
    .text p {
        margin-left: 3%;
        margin-top: 5%;
        width: 75%;
        text-align: justify;
        color: whitesmoke;
        font-size: 18px;
    }

    .text img{
        margin-top: 7%;
        margin-left: 10%;
        border-radius: 10px 7px;
    }
    
    .text span{
        position: relative;
        top: -7px;
        left: 7px;
    }

    .shortener_container {
        width: 100%;
    }

    .shortener_container .input{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input #shortener{
        width: 70%;
        margin: 5% 0;
    }

    #submit_btn{
        position: relative;
        top: 2%;
        left: 22%;
        width: 27%;
        height: 42px;
        font-size: 23px;
    }

    .links_container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-left: 1%;
        position: relative;
    }
}

/* .error-msg {
    display: none;
}

.error_msg .show{
    display: block;
    transform: translateX(-150%);
} */